force-app/main/default/flows/PNM_NPI_NPPES_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AppendAddr</name>
        <label>AppendAddr</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>allAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>setAllAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAllAddresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AppendIdent</name>
        <label>AppendIdent</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>allIdentifiers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>setAllIdentifiers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAllIdentifiers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AppendTaxonomy</name>
        <label>AppendTaxonomy</label>
        <locationX>138</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>allTaxonomies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>setAllTaxonomies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAllTaxonomies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_NPI</name>
        <label>Valid NPI</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Enter_NPI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid NPI</defaultConnectorLabel>
        <rules>
            <name>Valid_NPI2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_NPPES_Data.validNPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAllAddresses</targetReference>
            </connector>
            <label>Valid NPI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PNM_NPI_NPPES_Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNM_NPI_NPPES_Check</label>
    <loops>
        <name>setAllAddresses</name>
        <label>setAllAddresses</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Retrieve_NPPES_Data.NPPESAddressFullConcat</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AppendAddr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setAllIdentifiers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>setAllIdentifiers</name>
        <label>setAllIdentifiers</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <collectionReference>Retrieve_NPPES_Data.NPPESIdentifierFullConcat</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AppendIdent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setAllTaxonomies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>setAllTaxonomies</name>
        <label>setAllTaxonomies</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>Retrieve_NPPES_Data.NPPESTaxonomyFullConcat</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AppendTaxonomy</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NPPES_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Enter_NPI</name>
        <label>Check NPI</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retrieve_NPPES_Data</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Check NPI on NPPES&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvalidNPI</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 14, 14);&quot;&gt;Please enter a valid NPI&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Valid_NPI2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_NPI2</name>
            <dataType>String</dataType>
            <fieldText>Enter NPI</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;10-digit NPI number from the NPPES NPI Registry&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;Please enter a valid NPI&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(
AND(
ISNUMBER({!Enter_NPI2}), LEN({!Enter_NPI2})=10
),TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NPPES_Results</name>
        <label>NPPES Results</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>title2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;NPI on NPPES&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NPPES_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!Retrieve_NPPES_Data.NPPESPrefix} {!Retrieve_NPPES_Data.NPPESFName} {!Retrieve_NPPES_Data.NPPESLName} {!Retrieve_NPPES_Data.NPPESSuffix}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Gender: {!Retrieve_NPPES_Data.NPPESGender}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Sole Proprietor: {!Retrieve_NPPES_Data.NPPESSoleProprietor}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Type: {!Retrieve_NPPES_Data.NPPESNPIType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Identifiers&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!allIdentifiers}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Taxonomies&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!allTaxonomies}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Addresses&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!allAddresses}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_NPI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Retrieve_NPPES_Data</name>
        <label>Retrieve NPPES Data</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Valid_NPI</targetReference>
        </connector>
        <flowName>PNM_Retrieve_NPPES_Data</flowName>
        <inputAssignments>
            <name>npiNbr</name>
            <value>
                <elementReference>Enter_NPI2</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>allIdentifiers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allTaxonomies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
