force-app/main/default/flows/PNM_Retrieve_NPPES_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getNPIwNPPES</name>
        <label>getNPIwNPPES</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>getNPIwithNPPES.getNPIwithNPPES</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Just_1_result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>number</name>
            <value>
                <elementReference>npiNbr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <stringValue>2.1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getNPIwithNPPES.getNPIwithNPPES</nameSegment>
        <outputParameters>
            <assignToReference>NPPESoutput</assignToReference>
            <name>2XX</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Address_to_Collection</name>
        <label>Assign Address to Collection</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NPPESAddressFullConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPPESAddressFull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Identifier_to_Collection</name>
        <label>Assign Identifier to Collection</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>NPPESIdentifierFullConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPPESIdentifierFull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Identifiers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Taxonomy_to_Collection</name>
        <label>Assign Taxonomy to Collection</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>NPPESTaxonomyFullConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NPPESTaxonomyFull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taxonomy_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Top_Level_Values</name>
        <label>Assign Top Level Values</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>NPPESNPIType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.enumerationx5ftype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESCred</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.credential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESFName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.firstx5fname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESGender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESLName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.lastx5fname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.namex5fprefix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESSoleProprietor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.solex5fproprietor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPPESSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNPPESresults.basic.namex5fsuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_NPI</name>
        <label>Valid NPI</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>validNPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNPPESresults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_NPI_False</name>
        <label>Valid NPI False</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>validNPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Valid_NPI_False2</name>
        <label>Valid NPI False</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>validNPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Just_1_result</name>
        <label>Just 1 result</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Valid_NPI_False2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0 or multiple results</defaultConnectorLabel>
        <rules>
            <name>X1_result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NPPESoutput.resultx5fcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_NPI</targetReference>
            </connector>
            <label>1 result</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPI_Correct_Format</name>
        <label>NPI Correct Format</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Valid_NPI_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NPI_is_correct_format</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNPIwNPPES</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NPI_is_correct_format</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
ISNUMBER({!npiNbr}), LEN({!npiNbr})=10
),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>NPPESAddressFull</name>
        <dataType>String</dataType>
        <expression>{!Address_Loop.addressx5fpurpose}
&amp; BR() &amp; {!Address_Loop.addressx5f1}
&amp; IF (LEN({!Address_Loop.addressx5f2})&gt;1,BR() &amp; {!Address_Loop.addressx5f2},&quot;&quot;)

&amp; BR() &amp; {!Address_Loop.city} &amp; &quot;, &quot; &amp; {!Address_Loop.state} &amp; &quot; &quot; &amp; {!Address_Loop.postalx5fcode}
&amp; BR() &amp; {!Address_Loop.countryx5fname}
&amp; BR() &amp; &quot;Phone: &quot; &amp; {!Address_Loop.telephonex5fnumber}
&amp; BR() &amp; &quot;Fax: &quot; &amp; {!Address_Loop.faxx5fnumber}
&amp; BR() &amp; BR()</expression>
    </formulas>
    <formulas>
        <name>NPPESIdentifierFull</name>
        <dataType>String</dataType>
        <expression>&quot;Code: &quot; &amp; {!Loop_Identifiers.code}
&amp; BR() &amp; &quot;Description: &quot; &amp; {!Loop_Identifiers.z0desc}
&amp; BR() &amp; &quot;Issuer: &quot; &amp; {!Loop_Identifiers.issuer}
&amp; BR() &amp; &quot;Identifier: &quot; &amp; {!Loop_Identifiers.identifier}
&amp; BR() &amp; &quot;State: &quot; &amp; {!Loop_Identifiers.state}
&amp; BR()&amp; BR()</expression>
    </formulas>
    <formulas>
        <name>NPPESTaxonomyFull</name>
        <dataType>String</dataType>
        <expression>&quot;Code: &quot; &amp; {!Taxonomy_Loop.code}
&amp; BR() &amp; &quot;Description: &quot; &amp; {!Taxonomy_Loop.z0desc}
&amp; BR() &amp; &quot;State: &quot; &amp; {!Taxonomy_Loop.state}
&amp; BR() &amp; &quot;License Number: &quot; &amp; {!Taxonomy_Loop.license}
&amp; BR() &amp; BR()</expression>
    </formulas>
    <interviewLabel>PNM_Retrieve_NPPES_Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNM_Retrieve_NPPES_Data</label>
    <loops>
        <name>Address_Loop</name>
        <label>Address Loop</label>
        <locationX>226</locationX>
        <locationY>878</locationY>
        <collectionReference>LoopNPPESresults.addresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Address_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Taxonomy_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Identifiers</name>
        <label>Loop Identifiers</label>
        <locationX>226</locationX>
        <locationY>1550</locationY>
        <collectionReference>LoopNPPESresults.identifiers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Identifier_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopNPPESresults</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNPPESresults</name>
        <label>LoopNPPESresults</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>NPPESoutput.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Top_Level_Values</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Taxonomy_Loop</name>
        <label>Taxonomy Loop</label>
        <locationX>226</locationX>
        <locationY>1214</locationY>
        <collectionReference>LoopNPPESresults.taxonomies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Taxonomy_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Identifiers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NPI_Correct_Format</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>npiNbr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPPESAddressFullConcat</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESCred</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESGender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESIdentifierFullConcat</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESNPIType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESoutput</name>
        <apexClass>ExternalService__getNPIwithNPPES_getNPIwithNPPES_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NPPESPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESSoleProprietor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NPPESTaxonomyFullConcat</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validNPI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
